h1{
    margin: 50px;
    text-align: center;
}
section{
    height: 700px;
    width: 70%;
    background-color: green;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
}

button{
    margin: 50px;
    height:50px;
    width:100px;
    cursor: pointer;
    background-color: yellow;

    
}
div{
    display: flex;
    justify-content: space-around;
    gap: 10px;
}
p{
    font-size: medium;
    font-weight: 600;
}

